<header>
	<h1>To onde?</h1>
</header>

<section class="controls">
	<button id="getlocate" class="btn btn-primary btn-block" alt="atualizar" title="atualizar">
		Atualizar
	</button>
</section>


<section class="local-info">
	<section class="status"></section>

	<div class="local" id="local">
		<span></span>
	</div>

	<section class="mapa">
		<div id="map-canvas"></div>
	</section>

</section>

<footer>
	<section class="social">
		<div class="fb-like" data-href="https://www.to-onde.com.br" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</section>
	<section class="author">
		<small>Desenvolvido por <a href="https://www.facebook.com/bglbruno" target="_blank">Bruno Gonçales</a></small>
	</section>
</footer>
