@import "bootstrap/variables";
$primary-color-text: #2C3E50;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: sans-serif;
    font-size: 17px;
    color: $primary-color-text;
    text-align: center;
    padding:0;
    margin:0;
}

header{
    padding: 2%;
    font-size: 1em;
    @media (min-width: $screen-sm-min){
        font-size: 2em;
    }
    h1{
        padding:0;
        margin:0;
    }
}

.controls{
    margin: 0 auto;
    display: block;

    padding: 4% 0;
    width: 50%;

    @media (min-width: $screen-sm-min){
        padding: 3% 0;
    }
    @media (min-width: $screen-md-min){
        padding: 2% 0;
        width: 30%;
    }
}

.local-info{
    .local{
        font-weight: 700;
        padding: 5%;
        font-size: 1em;
        @media (min-width: $screen-sm-min){
            font-size: 2em;
        }
        background-color: #2C3E50;
        color: #fff;
    }
    .mapa{
        #map-canvas {
            height: 200px;
            @media (min-width: $screen-sm-min){
                height: 300px;
            }
            width: 100%;
            margin: 0px;
            padding: 0px
        }
    }

}
footer{
    padding-top: 5%;
    color: #888;
    section{
        padding: 3%;
        @media (min-width: $screen-sm-min){
            padding: 1%;
        }
    }
}
